# Exercise - Data Cleanup

Cleanup ``` list ``` and ``` datetime ``` objects

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Data Engineer', 'job_skills': "['AWS', 'Python', 'TensorFlow']", 'job_date': '2023-05-18'},
    {'job_title': 'Data Analyst', 'job_skills': "['Python', 'Data Analysis', 'SQL']", 'job_date': '2023-05-06'}
]

In [ ]:
data_science_jobs = [
    {'job_title': 'Data Scientist', 'job_skills': "['Python', 'SQL', 'Machine Learning']", 'job_date': '2023-05-12'},
    {'job_title': 'Machine Learning Engineer', 'job_skills': "['Python', 'TensorFlow', 'Deep Learning']", 'job_date': '2023-06-03'},
    {'job_title': 'Data Analyst', 'job_skills': "['Excel', 'SQL', 'Tableau']", 'job_date': '2023-04-27'},
    {'job_title': 'AI Researcher', 'job_skills': "['PyTorch', 'NLP', 'Statistics']", 'job_date': '2023-07-18'},
    {'job_title': 'Business Intelligence Engineer', 'job_skills': "['Power BI', 'SQL', 'ETL']", 'job_date': '2023-03-14'},
    {'job_title': 'Data Engineer', 'job_skills': "['Python', 'Airflow', 'Spark']", 'job_date': '2023-08-02'},
    {'job_title': 'Quantitative Analyst', 'job_skills': "['R', 'Statistics', 'Financial Modeling']", 'job_date': '2023-02-21'},
    {'job_title': 'Analytics Manager', 'job_skills': "['Python', 'Leadership', 'A/B Testing']", 'job_date': '2023-09-11'}
]

# `datetime`

In [ ]:
from datetime import datetime

In [ ]:
datetime.now()

datetime.datetime(2025, 12, 10, 5, 5, 51, 716219)

In [ ]:
test_date = data_science_jobs[0]['job_date']

In [ ]:
datetime.strptime(test_date, '%Y-%m-%d')

datetime.datetime(2023, 5, 12, 0, 0)

In [ ]:
print(datetime.strptime(test_date, '%Y-%m-%d'))

2023-05-12 00:00:00

In [ ]:
for job in data_science_jobs:
  job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')

In [ ]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': "['Python', 'SQL', 'Machine Learning']",
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': "['Python', 'TensorFlow', 'Deep Learning']",
  'job_date': datetime.datetime(2023, 6, 3, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': "['Excel', 'SQL', 'Tableau']",
  'job_date': datetime.datetime(2023, 4, 27, 0, 0)},
 {'job_title': 'AI Researcher',
  'job_skills': "['PyTorch', 'NLP', 'Statistics']",
  'job_date': datetime.datetime(2023, 7, 18, 0, 0)},
 {'job_title': 'Business Intelligence Engineer',
  'job_skills': "['Power BI', 'SQL', 'ETL']",
  'job_date': datetime.datetime(2023, 3, 14, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': "['Python', 'Airflow', 'Spark']",
  'job_date': datetime.datetime(2023, 8, 2, 0, 0)},
 {'job_title': 'Quantitative Analyst',
  'job_skills': "['R', 'Statistics', 'Financial Modeling']",
  'job_date': datetime.datetime(2023, 2, 21, 0, 0)},
 {'job_title': 'Analytics Manager',
  'job_skills': "['Python', 'Leadership', 'A/B Testing']",
  'job_date': datetime.datetime(2023, 9, 11, 0, 0)}]

# `literal_eval`

In [ ]:
import ast

for job in data_science_jobs:
  job['job_date'] = datetime.strptime(job['job_date'], '%Y-%m-%d')
  job['job_skills'] = ast.literal_eval(job['job_skills'])

In [ ]:
data_science_jobs

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'SQL', 'Machine Learning'],
  'job_date': datetime.datetime(2023, 5, 12, 0, 0)},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Deep Learning'],
  'job_date': datetime.datetime(2023, 6, 3, 0, 0)},
 {'job_title': 'Data Analyst',
  'job_skills': ['Excel', 'SQL', 'Tableau'],
  'job_date': datetime.datetime(2023, 4, 27, 0, 0)},
 {'job_title': 'AI Researcher',
  'job_skills': ['PyTorch', 'NLP', 'Statistics'],
  'job_date': datetime.datetime(2023, 7, 18, 0, 0)},
 {'job_title': 'Business Intelligence Engineer',
  'job_skills': ['Power BI', 'SQL', 'ETL'],
  'job_date': datetime.datetime(2023, 3, 14, 0, 0)},
 {'job_title': 'Data Engineer',
  'job_skills': ['Python', 'Airflow', 'Spark'],
  'job_date': datetime.datetime(2023, 8, 2, 0, 0)},
 {'job_title': 'Quantitative Analyst',
  'job_skills': ['R', 'Statistics', 'Financial Modeling'],
  'job_date': datetime.datetime(2023, 2, 21, 0, 0)},
 {'job_title': 'Analytics Manager',
  'job_skills': ['Python', 'Leadership', 'A/B Testing'],
  'job_date': datetime.datetime(2023, 9, 11, 0, 0)}]