In [ ]:
import numpy as np

In [ ]:
# create a list of 1,000,000 salaries ranging from 50,000 to 150,000
import random

salary_list = [random.randint(50000, 100000) for _ in range(10_000_000)]

In [ ]:
import statistics

In [ ]:
%%timeit
statistics.median(salary_list)

5.23 s ± 332 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
%%timeit
np.median(salary_list)

883 ms ± 12.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [ ]:
import numpy as np

In [ ]:
my_array = np.array([1, 2, 3, 4])

In [ ]:
my_array.mean()

np.float64(2.5)

In [ ]:
# Job titles
job_titles = np.array(['Data Analyst', 'Data Scientist', 'Data Engineer', 'Data Engineer', 'Machine Learning', 'AI Engineer'])

# Base salaries
base_salaries = np.array([60000, 80000, 750000, 90000, np.nan])

# Bonus rates
bonus_rates = np.array([.05, .1, .08, .12, np.nan])

In [ ]:
total_salaries = base_salaries * (1 + bonus_rates)

total_salaries

array([ 63000.,  88000., 810000., 100800.,     nan])

In [ ]:
np.nanmean(total_salaries)

np.float64(265450.0)