In [ ]:
help(str)

Help on class str in module builtins:

class str(object)
 |  str(object='') -> str
 |  str(bytes_or_buffer[, encoding[, errors]]) -> str
 |
 |  Create a new string object from the given object. If encoding or
 |  errors is specified, then the object must expose a data buffer
 |  that will be decoded using the given encoding and error handler.
 |  Otherwise, returns the result of object.__str__() (if defined)
 |  or repr(object).
 |  encoding defaults to sys.getdefaultencoding().
 |  errors defaults to 'strict'.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return bool(key in self).
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __format__(self, format_spec, /)
 |      Return a formatted version of the string as described by format_spec.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getitem__(self, key, /)
 |      Return self[key].
 |
 |  __getnewargs__(...)
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mod__(self, value, /)
 |      Return self%value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __rmod__(self, value, /)
 |      Return value%self.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __sizeof__(self, /)
 |      Return the size of the string in memory, in bytes.
 |
 |  __str__(self, /)
 |      Return str(self).
 |
 |  capitalize(self, /)
 |      Return a capitalized version of the string.
 |
 |      More specifically, make the first character have upper case and the rest lower
 |      case.
 |
 |  casefold(self, /)
 |      Return a version of the string suitable for caseless comparisons.
 |
 |  center(self, width, fillchar=' ', /)
 |      Return a centered string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  count(...)
 |      S.count(sub[, start[, end]]) -> int
 |
 |      Return the number of non-overlapping occurrences of substring sub in
 |      string S[start:end].  Optional arguments start and end are
 |      interpreted as in slice notation.
 |
 |  encode(self, /, encoding='utf-8', errors='strict')
 |      Encode the string using the codec registered for encoding.
 |
 |      encoding
 |        The encoding in which to encode the string.
 |      errors
 |        The error handling scheme to use for encoding errors.
 |        The default is 'strict' meaning that encoding errors raise a
 |        UnicodeEncodeError.  Other possible values are 'ignore', 'replace' and
 |        'xmlcharrefreplace' as well as any other name registered with
 |        codecs.register_error that can handle UnicodeEncodeErrors.
 |
 |  endswith(...)
 |      S.endswith(suffix[, start[, end]]) -> bool
 |
 |      Return True if S ends with the specified suffix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      suffix can also be a tuple of strings to try.
 |
 |  expandtabs(self, /, tabsize=8)
 |      Return a copy where all tab characters are expanded using spaces.
 |
 |      If tabsize is not given, a tab size of 8 characters is assumed.
 |
 |  find(...)
 |      S.find(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  format(...)
 |      S.format(*args, **kwargs) -> str
 |
 |      Return a formatted version of S, using substitutions from args and kwargs.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  format_map(...)
 |      S.format_map(mapping) -> str
 |
 |      Return a formatted version of S, using substitutions from mapping.
 |      The substitutions are identified by braces ('{' and '}').
 |
 |  index(...)
 |      S.index(sub[, start[, end]]) -> int
 |
 |      Return the lowest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  isalnum(self, /)
 |      Return True if the string is an alpha-numeric string, False otherwise.
 |
 |      A string is alpha-numeric if all characters in the string are alpha-numeric and
 |      there is at least one character in the string.
 |
 |  isalpha(self, /)
 |      Return True if the string is an alphabetic string, False otherwise.
 |
 |      A string is alphabetic if all characters in the string are alphabetic and there
 |      is at least one character in the string.
 |
 |  isascii(self, /)
 |      Return True if all characters in the string are ASCII, False otherwise.
 |
 |      ASCII characters have code points in the range U+0000-U+007F.
 |      Empty string is ASCII too.
 |
 |  isdecimal(self, /)
 |      Return True if the string is a decimal string, False otherwise.
 |
 |      A string is a decimal string if all characters in the string are decimal and
 |      there is at least one character in the string.
 |
 |  isdigit(self, /)
 |      Return True if the string is a digit string, False otherwise.
 |
 |      A string is a digit string if all characters in the string are digits and there
 |      is at least one character in the string.
 |
 |  isidentifier(self, /)
 |      Return True if the string is a valid Python identifier, False otherwise.
 |
 |      Call keyword.iskeyword(s) to test whether string s is a reserved identifier,
 |      such as "def" or "class".
 |
 |  islower(self, /)
 |      Return True if the string is a lowercase string, False otherwise.
 |
 |      A string is lowercase if all cased characters in the string are lowercase and
 |      there is at least one cased character in the string.
 |
 |  isnumeric(self, /)
 |      Return True if the string is a numeric string, False otherwise.
 |
 |      A string is numeric if all characters in the string are numeric and there is at
 |      least one character in the string.
 |
 |  isprintable(self, /)
 |      Return True if all characters in the string are printable, False otherwise.
 |
 |      A character is printable if repr() may use it in its output.
 |
 |  isspace(self, /)
 |      Return True if the string is a whitespace string, False otherwise.
 |
 |      A string is whitespace if all characters in the string are whitespace and there
 |      is at least one character in the string.
 |
 |  istitle(self, /)
 |      Return True if the string is a title-cased string, False otherwise.
 |
 |      In a title-cased string, upper- and title-case characters may only
 |      follow uncased characters and lowercase characters only cased ones.
 |
 |  isupper(self, /)
 |      Return True if the string is an uppercase string, False otherwise.
 |
 |      A string is uppercase if all cased characters in the string are uppercase and
 |      there is at least one cased character in the string.
 |
 |  join(self, iterable, /)
 |      Concatenate any number of strings.
 |
 |      The string whose method is called is inserted in between each given string.
 |      The result is returned as a new string.
 |
 |      Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'
 |
 |  ljust(self, width, fillchar=' ', /)
 |      Return a left-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  lower(self, /)
 |      Return a copy of the string converted to lowercase.
 |
 |  lstrip(self, chars=None, /)
 |      Return a copy of the string with leading whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  partition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string.  If the separator is found,
 |      returns a 3-tuple containing the part before the separator, the separator
 |      itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing the original string
 |      and two empty strings.
 |
 |  removeprefix(self, prefix, /)
 |      Return a str with the given prefix string removed if present.
 |
 |      If the string starts with the prefix string, return string[len(prefix):].
 |      Otherwise, return a copy of the original string.
 |
 |  removesuffix(self, suffix, /)
 |      Return a str with the given suffix string removed if present.
 |
 |      If the string ends with the suffix string and that suffix is not empty,
 |      return string[:-len(suffix)]. Otherwise, return a copy of the original
 |      string.
 |
 |  replace(self, old, new, count=-1, /)
 |      Return a copy with all occurrences of substring old replaced by new.
 |
 |        count
 |          Maximum number of occurrences to replace.
 |          -1 (the default value) means replace all occurrences.
 |
 |      If the optional argument count is given, only the first count occurrences are
 |      replaced.
 |
 |  rfind(...)
 |      S.rfind(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Return -1 on failure.
 |
 |  rindex(...)
 |      S.rindex(sub[, start[, end]]) -> int
 |
 |      Return the highest index in S where substring sub is found,
 |      such that sub is contained within S[start:end].  Optional
 |      arguments start and end are interpreted as in slice notation.
 |
 |      Raises ValueError when the substring is not found.
 |
 |  rjust(self, width, fillchar=' ', /)
 |      Return a right-justified string of length width.
 |
 |      Padding is done using the specified fill character (default is a space).
 |
 |  rpartition(self, sep, /)
 |      Partition the string into three parts using the given separator.
 |
 |      This will search for the separator in the string, starting at the end. If
 |      the separator is found, returns a 3-tuple containing the part before the
 |      separator, the separator itself, and the part after it.
 |
 |      If the separator is not found, returns a 3-tuple containing two empty strings
 |      and the original string.
 |
 |  rsplit(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the end of the string and works to the front.
 |
 |  rstrip(self, chars=None, /)
 |      Return a copy of the string with trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  split(self, /, sep=None, maxsplit=-1)
 |      Return a list of the substrings in the string, using sep as the separator string.
 |
 |        sep
 |          The separator used to split the string.
 |
 |          When set to None (the default value), will split on any whitespace
 |          character (including \n \r \t \f and spaces) and will discard
 |          empty strings from the result.
 |        maxsplit
 |          Maximum number of splits.
 |          -1 (the default value) means no limit.
 |
 |      Splitting starts at the front of the string and works to the end.
 |
 |      Note, str.split() is mainly useful for data that has been intentionally
 |      delimited.  With natural text that includes punctuation, consider using
 |      the regular expression module.
 |
 |  splitlines(self, /, keepends=False)
 |      Return a list of the lines in the string, breaking at line boundaries.
 |
 |      Line breaks are not included in the resulting list unless keepends is given and
 |      true.
 |
 |  startswith(...)
 |      S.startswith(prefix[, start[, end]]) -> bool
 |
 |      Return True if S starts with the specified prefix, False otherwise.
 |      With optional start, test S beginning at that position.
 |      With optional end, stop comparing S at that position.
 |      prefix can also be a tuple of strings to try.
 |
 |  strip(self, chars=None, /)
 |      Return a copy of the string with leading and trailing whitespace removed.
 |
 |      If chars is given and not None, remove characters in chars instead.
 |
 |  swapcase(self, /)
 |      Convert uppercase characters to lowercase and lowercase characters to uppercase.
 |
 |  title(self, /)
 |      Return a version of the string where each word is titlecased.
 |
 |      More specifically, words start with uppercased characters and all remaining
 |      cased characters have lower case.
 |
 |  translate(self, table, /)
 |      Replace each character in the string using the given translation table.
 |
 |        table
 |          Translation table, which must be a mapping of Unicode ordinals to
 |          Unicode ordinals, strings, or None.
 |
 |      The table must implement lookup/indexing via __getitem__, for instance a
 |      dictionary or list.  If this operation raises LookupError, the character is
 |      left untouched.  Characters mapped to None are deleted.
 |
 |  upper(self, /)
 |      Return a copy of the string converted to uppercase.
 |
 |  zfill(self, width, /)
 |      Pad a numeric string with zeros on the left, to fill a field of the given width.
 |
 |      The string is never truncated.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  maketrans(...)
 |      Return a translation table usable for str.translate().
 |
 |      If there is only one argument, it must be a dictionary mapping Unicode
 |      ordinals (integers) or characters to Unicode ordinals, strings or None.
 |      Character keys will be then converted to ordinals.
 |      If there are two arguments, they must be strings of equal length, and
 |      in the resulting dictionary, each character in x will be mapped to the
 |      character at the same position in y. If there is a third argument, it
 |      must be a string, whose characters will be mapped to None in the result.

In [ ]:
str.__add__("Data","Analyst")

'DataAnalyst'

In [ ]:
"Data".__add__("Analyst")

'DataAnalyst'

In [ ]:
role = 'Data Analyst'
skill = 'Python'

In [ ]:
# Write out 'Role: Data Analyst'

'Role: ' + role

'Role: Data Analyst'

In [ ]:
# format(...)
#  |      S.format(*args, **kwargs) -> str
#  |
#  |      Return a formatted version of S, using substitutions from args and kwargs.
#  |      The substitutions are identified by braces ('{' and '}').

# Create the string "Role: Data Analyst"
role = 'Data Analyst'
skill = 'Python'

"Role: {}".format(role)

'Role: Data Analyst'

In [ ]:
# Create the string "Role: Data Analyst; Skill Required: Python"
"Role: {}, Skill Required: {}".format(role, skill)

'Role: Data Analyst, Skill Required: Python'

In [ ]:
# Create the string "Role: Data Analyst; Skill Required: Python"
"Role: {role}; Skill Required: {skill}".format(role=role, skill=skill)

'Role: Data Analyst; Skill Required: Python'

f-Strings - Formatted String Literals

In [ ]:
role = 'Data Analyst'
skill = 'Python'

f"Role: {role}; Skill Required: {skill}"

'Role: Data Analyst; Skill Required: Python'

%-formatting (printf-style string formatting)

In [ ]:
"Role: %s; Skill Required: %s" % (role, skill)

'Role: Data Analyst; Skill Required: Python'

`join()` Method

In [ ]:
years_experience = '0123456789'

', '.join(years_experience)

'0, 1, 2, 3, 4, 5, 6, 7, 8, 9'

In [ ]:
skills = ['Python', 'SQL', 'Excel']

", ".join(skills)

'Python, SQL, Excel'

Conditional Statement

In [ ]:
if False:
  print("What's up Data Nerds")

In [ ]:
# Skill required for job posting
job_skill = 'SQL'

# Applicant skill
applicant_skill = 'SQL'

In [ ]:
if job_skill == applicant_skill:
  print('Skills Match!')

Skills Match!

In [ ]:
job_skill = 'SQL'
applicant_skill = 'Python'
years_experience = 3

if job_skill == applicant_skill:
  print('Skills Match!')
elif years_experience >= 5:
  print('Enough Experience; No SQL')
elif applicant_skill == 'Python':
  print('This applicant should know SQL')
else:
  print('No Skill or Experience')

This applicant should know SQL

In [ ]:
if job_skill == applicant_skill:
  pass

In [ ]:
if job_skill == applicant_skill:
  ...

Lists

In [ ]:
job_skills = ['sql', 'tableau', 'excel']

In [ ]:
job_skills.append('python')

In [ ]:
job_skills

['sql', 'tableau', 'excel', 'python']

In [ ]:
job_skills.remove('tableau')

In [ ]:
job_skills

['sql', 'excel', 'python']

In [ ]:
len(job_skills)

In [ ]:
job_skills[1]

In [ ]:
job_skills.insert(2, 'tableau')

In [ ]:
job_skills

['sql', 'excel', 'tableau', 'python']

In [ ]:
job_skills.pop(2)

'tableau'

In [ ]:
job_skills

['sql', 'excel', 'python']

In [ ]:
job_skills.pop()

'python'

In [ ]:
job_skills

['sql', 'excel']

Slicing

In [ ]:
job_skills = ['sql', 'excel', 'python']

In [ ]:
job_skills[0:2]

['sql', 'excel']

In [ ]:
job_skills[:]

['sql', 'excel', 'python']

In [ ]:
job_skills[0:1]

['sql']

In [ ]:
job_skills[:1]

['sql']

In [ ]:
job_skills[::1]

['sql', 'excel', 'python']

In [ ]:
job_skills[::2]

['sql', 'python']

In [ ]:
job_skills[::3]

['sql']

In [ ]:
luke_skills = ['python', 'bigquery', 'r']
kelly_skills = ['python', 'sql', 'looker']

all_skills = luke_skills + kelly_skills

all_skills

['python', 'bigquery', 'r', 'python', 'sql', 'looker']

In [ ]:
all_skills[::2]

['python', 'r', 'sql']

In [ ]:
all_skills[5:]

['looker']

In [ ]:
all_skills[-1:]

['looker']

# Unpacking

Assign each value in an iterable to a variable in a single statement

In [ ]:
job_skills = ['python', 'excel', 'sql', 'looker']

In [ ]:
skill1, skill2, skill3 = job_skills

In [ ]:
print(skill1)
print(skill2)
print(skill3)

python
excel
sql

In [ ]:
skill_concerned, *skill_dont_care = job_skills

In [ ]:
print(skill_concerned)
print(skill_dont_care)

python
['excel', 'sql', 'looker']

# Dictionaries

In [ ]:
job_type_skills = {'database': 'postgresql', 'language': 'python', 'library': 'pandas'}

In [ ]:
job_type_skills

{'database': 'postgresql', 'language': 'python', 'library': 'pandas'}

In [ ]:
job_type_skills['database']

'postgresql'

In [ ]:
job_type_skills.keys()

dict_keys(['database', 'language', 'library'])

In [ ]:
job_type_skills.values()

dict_values(['postgresql', 'python', 'pandas'])

In [ ]:
job_type_skills.pop('library')

'pandas'

In [ ]:
job_type_skills

{'database': 'postgresql', 'language': 'python'}

In [ ]:
job_type_skills.update({'cloud': 'google cloud'})

In [ ]:
job_type_skills

{'database': 'postgresql', 'language': 'python', 'cloud': 'google cloud'}

In [ ]:
job_type_skills['cloud']

'google cloud'

In [ ]:
job_type_skills['version_control'] = 'git'

In [ ]:
job_type_skills

{'database': 'postgresql',
 'language': 'python',
 'cloud': 'google cloud',
 'version_control': 'git'}

# Sets

In [ ]:
job_skills = {'tableau', 'sql', 'python', 'statistics'}

In [ ]:
job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills.add('looker')

In [ ]:
job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills.add('sql')

In [ ]:
job_skills

{'looker', 'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills.pop()

'looker'

In [ ]:
job_skills

{'python', 'sql', 'statistics', 'tableau'}

In [ ]:
job_skills.remove('tableau')

In [ ]:
job_skills

{'python', 'sql', 'statistics'}

In [ ]:
skill_list = ['python', 'sql', 'statistics', 'tableau', 'python', 'sql', 'statistics', 'tableau']

In [ ]:
set(skill_list)

{'python', 'sql', 'statistics', 'tableau'}

In [ ]:
list(set(skill_list))

['statistics', 'tableau', 'sql', 'python']

# Tuples

In [ ]:
lukes_skill = ('python', 'sql', 'statistics', 'tableau')

lukes_skill

('python', 'sql', 'statistics', 'tableau')

In [ ]:
lukes_skill[0]

'python'

In [ ]:
lukes_skill[0:2]

('python', 'sql')

In [ ]:
lukes_skill = ('python', 'sql', 'statistics', 'tableau')
print(id(lukes_skill))

new_skills = ('excel', 'power bi')

lukes_skill += new_skills

lukes_skill
id(lukes_skill)

134172618811616

134172619894368

In [ ]:
lukes_skill = ['python', 'sql', 'statistics', 'tableau']
print(id(lukes_skill))

new_skills = ['excel', 'power bi']

lukes_skill += new_skills

lukes_skill
id(lukes_skill)

134172618843584

134172618843584

range

In [ ]:
range(5)

range(0, 5)

In [ ]:
tuple(range(5))

(0, 1, 2, 3, 4)

In [ ]:
tuple(range(2,5))

(2, 3, 4)

In [ ]:
tuple(range(1, 101, 2))

(1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99)

# Logical Operators

In [ ]:
job_work_from_home = True
job_health_insurance = True
job_no_degree_mention = True

job_work_from_home and job_health_insurance and job_no_degree_mention

True

In [ ]:
job_work_from_home = False
job_health_insurance = False
job_no_degree_mention = True

job_work_from_home or job_health_insurance or job_no_degree_mention

True

In [ ]:
not True

False

In [ ]:
job_work_from_home = False
job_health_insurance = False
job_no_degree_mention = True

job_work_from_home or job_health_insurance or not job_no_degree_mention

False

In [ ]:
if job_work_from_home or job_health_insurance or not job_no_degree_mention:
  print("meets conditions")

# Membership Operators

In [ ]:
"Data" in "Data Nerd"

True

In [ ]:
job_skills = ['python', 'r', 'sql']

In [ ]:
'python' in job_skills

True

In [ ]:
'python' not in job_skills

False

# Identity Operators

In [ ]:
salary_kelly = 100_000
salary_luke = 100_000

salary_kelly == salary_luke

True

In [ ]:
salary_kelly is salary_luke

False

In [ ]:
id(salary_kelly)

134172620201840

In [ ]:
id(salary_luke)

134172620196592

In [ ]:
core_skills = ['python', 'R', 'SQL']
lukes_skills = core_skills

In [ ]:
lukes_skills is core_skills

True

# Bitwise Operators

Here is the tabular form you requested:

| **Operator** | **Name**    | **Example** |    |
| ------------ | ----------- | ----------- | -- |
| `&`          | Bitwise AND | `x & y`     |    |
| `\|`         | Bitwise OR  | `x |y` |
| `^`          | Bitwise XOR | `x ^ y`     |    |
| `~`          | Bitwise NOT | `~x`        |    |
| `<<`         | Left Shift  | `x << y`    |    |
| `>>`         | Right Shift | `x >> y`    |    |

In [ ]:
bin(42)

'0b101010'

# Loops

In [ ]:
numbers = [0, 1, 2, 3, 4, 5]

for number in numbers:
  print(number)

0
1
2
3
4
5

In [ ]:
characters = 'PYTHON'

for character in characters:
  print(character)

P
Y
T
H
O
N

In [ ]:
years_experience = {
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3
}

In [ ]:
for person in years_experience:
  print(person)

Luke
Kelly
Ken
Alex

In [ ]:
for value in years_experience.values():
  print(value)

3
6
4
3

In [ ]:
for key, value in years_experience.items():
  print(key, value)

Luke 3
Kelly 6
Ken 4
Alex 3

In [ ]:
for key, value in years_experience.items():
  if value > 5:
    print(key, 'has', value, 'years experience')

Kelly has 6 years experience

In [ ]:
import random

# Generate random years of experience for each name
names = {
    "Alice": 7, "Bob": 2, "Charlie": 10, "Diana": 4, "Ethan": 9, "Fiona": 1,
    "George": 12, "Hannah": 5, "Ian": 3, "Julia": 8, "Kevin": 6, "Laura": 11,
    "Michael": 2, "Nina": 14, "Oscar": 7, "Paula": 4, "Quentin": 15, "Rachel": 9,
    "Sam": 1, "Tina": 13, "Umar": 6, "Violet": 5, "William": 3, "Xena": 10, "Yusuf": 8
}

years_experience = {name: random.randint(1, 20) for name in names}

years_experience

{'Alice': 13,
 'Bob': 4,
 'Charlie': 16,
 'Diana': 20,
 'Ethan': 15,
 'Fiona': 11,
 'George': 20,
 'Hannah': 1,
 'Ian': 9,
 'Julia': 9,
 'Kevin': 16,
 'Laura': 13,
 'Michael': 3,
 'Nina': 2,
 'Oscar': 18,
 'Paula': 1,
 'Quentin': 12,
 'Rachel': 6,
 'Sam': 17,
 'Tina': 17,
 'Umar': 10,
 'Violet': 12,
 'William': 17,
 'Xena': 9,
 'Yusuf': 3}

In [ ]:
for _ in range(100):
  print(_)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [ ]:
while True:
  print("Data Nerd")

In [ ]:
count = 1
while count < 5:
  print(count)
  count += 1

1
2
3
4

In [ ]:
years_experience = {
    'Luke': 3,
    'Kelly': 6,
    'Ken': 4,
    'Alex': 3,
    'Mary': 7
}

In [ ]:
years = 0
index = 0

years_list = list(years_experience.items())

while years < 5:
  key, years = years_list[index]
  if years >= 5:
    print(key, 'has', years, 'years experience.')
  index += 1

Kelly has 6 years experience.

# List Comprehension

In [ ]:
numbers = [x for x in range(100)]

numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
numbers = []

for number in range(100):
  numbers.append(number)

In [ ]:
numbers

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99]

In [ ]:
numbers = [x*2 for x in range(100)]

numbers

[0,
 2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100,
 102,
 104,
 106,
 108,
 110,
 112,
 114,
 116,
 118,
 120,
 122,
 124,
 126,
 128,
 130,
 132,
 134,
 136,
 138,
 140,
 142,
 144,
 146,
 148,
 150,
 152,
 154,
 156,
 158,
 160,
 162,
 164,
 166,
 168,
 170,
 172,
 174,
 176,
 178,
 180,
 182,
 184,
 186,
 188,
 190,
 192,
 194,
 196,
 198]

In [ ]:
numbers = [float(x) for x in range(100)]

numbers

[0.0,
 1.0,
 2.0,
 3.0,
 4.0,
 5.0,
 6.0,
 7.0,
 8.0,
 9.0,
 10.0,
 11.0,
 12.0,
 13.0,
 14.0,
 15.0,
 16.0,
 17.0,
 18.0,
 19.0,
 20.0,
 21.0,
 22.0,
 23.0,
 24.0,
 25.0,
 26.0,
 27.0,
 28.0,
 29.0,
 30.0,
 31.0,
 32.0,
 33.0,
 34.0,
 35.0,
 36.0,
 37.0,
 38.0,
 39.0,
 40.0,
 41.0,
 42.0,
 43.0,
 44.0,
 45.0,
 46.0,
 47.0,
 48.0,
 49.0,
 50.0,
 51.0,
 52.0,
 53.0,
 54.0,
 55.0,
 56.0,
 57.0,
 58.0,
 59.0,
 60.0,
 61.0,
 62.0,
 63.0,
 64.0,
 65.0,
 66.0,
 67.0,
 68.0,
 69.0,
 70.0,
 71.0,
 72.0,
 73.0,
 74.0,
 75.0,
 76.0,
 77.0,
 78.0,
 79.0,
 80.0,
 81.0,
 82.0,
 83.0,
 84.0,
 85.0,
 86.0,
 87.0,
 88.0,
 89.0,
 90.0,
 91.0,
 92.0,
 93.0,
 94.0,
 95.0,
 96.0,
 97.0,
 98.0,
 99.0]

In [ ]:
numbers = [x for x in 'PYTHON']

numbers

['P', 'Y', 'T', 'H', 'O', 'N']

In [ ]:
numbers = {x for x in 'PYTHON'}

numbers

{'H', 'N', 'O', 'P', 'T', 'Y'}

In [ ]:
data_science_jobs = [
    "Data Scientist", "Machine Learning Engineer", "Data Analyst", "Business Intelligence Analyst",
    "Data Engineer", "AI Research Scientist", "Statistician", "Deep Learning Engineer",
    "ML Researcher", "Analytics Consultant", "Business Data Scientist", "Data Science Manager",
    "Big Data Engineer", "Research Data Scientist", "Quantitative Analyst", "Data Architect",
    "Computer Vision Engineer", "NLP Engineer", "AI Engineer", "Predictive Modeler",
    "Decision Scientist", "Data Mining Specialist", "Business Analytics Manager",
    "Data Visualization Specialist", "Applied Scientist", "Machine Learning Scientist",
    "AI Product Manager", "Cloud Data Engineer", "Lead Data Scientist", "Junior Data Analyst",
    "Senior Data Scientist", "Senior Machine Learning Engineer", "BI Developer", "Data Strategist",
    "Quantitative Researcher", "Data Governance Specialist", "Data Operations Engineer",
    "Machine Learning Ops Engineer", "MLOps Specialist", "Computational Scientist",
    "AI Systems Engineer", "Data Quality Analyst", "Robotics AI Engineer", "Fraud Data Analyst",
    "Medical Data Scientist", "Financial Data Scientist", "Bioinformatics Scientist",
    "CRM Data Analyst", "Customer Insights Analyst", "Data Modeling Engineer",
    "Growth Analyst", "Search Engine Data Scientist", "Product Data Scientist",
    "Retail Data Analyst", "Supply Chain Data Analyst", "Marketing Data Scientist",
    "Marketing Analytics Specialist", "Sports Data Analyst", "Data Warehouse Engineer",
    "AI Solutions Architect", "Associate Data Scientist", "Machine Learning Developer",
    "Vision AI Engineer", "Big Data Analyst", "Data Operations Specialist",
    "Security Data Scientist", "Risk Analytics Specialist", "Risk Data Analyst",
    "Quant Developer", "Optimization Scientist", "Operations Research Analyst",
    "Applied Machine Learning Engineer", "AI Algorithm Engineer", "Insight Analyst",
    "Cybersecurity Data Analyst", "Cloud AI Engineer", "Data Platform Engineer",
    "Genomics Data Scientist", "Healthcare Analyst", "Insurance Data Analyst",
    "Revenue Analytics Manager", "Financial Analytics Specialist", "Principal Data Scientist",
    "Forecasting Analyst", "Machine Learning Architect", "Talent Analytics Analyst",
    "People Analytics Scientist", "AI Program Manager", "AI Analytics Engineer",
    "Geospatial Data Scientist", "Data Compliance Analyst", "Energy Data Analyst",
    "Climate Data Scientist", "Database Marketing Analyst", "Information Analyst",
    "Digital Analytics Specialist", "AI Model Validator", "AI Ethics Researcher",
    "Speech Recognition Engineer", "Recommendation Systems Engineer"
]

In [ ]:
job_list = data_science_jobs

In [ ]:
analyst_list = []

for job in job_list:
  if "Data Analyst" in job:
    analyst_list.append(job)

In [ ]:
analyst_list = [job for job in job_list if "Data Analyst" in job]

In [ ]:
print("Original list is:" , len(job_list), "jobs")
print("New list is:", len(analyst_list), "jobs")

Original list is: 100 jobs
New list is: 12 jobs

In [ ]:
job_list

['Data Scientist',
 'Machine Learning Engineer',
 'Data Analyst',
 'Business Intelligence Analyst',
 'Data Engineer',
 'AI Research Scientist',
 'Statistician',
 'Deep Learning Engineer',
 'ML Researcher',
 'Analytics Consultant',
 'Business Data Scientist',
 'Data Science Manager',
 'Big Data Engineer',
 'Research Data Scientist',
 'Quantitative Analyst',
 'Data Architect',
 'Computer Vision Engineer',
 'NLP Engineer',
 'AI Engineer',
 'Predictive Modeler',
 'Decision Scientist',
 'Data Mining Specialist',
 'Business Analytics Manager',
 'Data Visualization Specialist',
 'Applied Scientist',
 'Machine Learning Scientist',
 'AI Product Manager',
 'Cloud Data Engineer',
 'Lead Data Scientist',
 'Junior Data Analyst',
 'Senior Data Scientist',
 'Senior Machine Learning Engineer',
 'BI Developer',
 'Data Strategist',
 'Quantitative Researcher',
 'Data Governance Specialist',
 'Data Operations Engineer',
 'Machine Learning Ops Engineer',
 'MLOps Specialist',
 'Computational Scientist',
 'AI Systems Engineer',
 'Data Quality Analyst',
 'Robotics AI Engineer',
 'Fraud Data Analyst',
 'Medical Data Scientist',
 'Financial Data Scientist',
 'Bioinformatics Scientist',
 'CRM Data Analyst',
 'Customer Insights Analyst',
 'Data Modeling Engineer',
 'Growth Analyst',
 'Search Engine Data Scientist',
 'Product Data Scientist',
 'Retail Data Analyst',
 'Supply Chain Data Analyst',
 'Marketing Data Scientist',
 'Marketing Analytics Specialist',
 'Sports Data Analyst',
 'Data Warehouse Engineer',
 'AI Solutions Architect',
 'Associate Data Scientist',
 'Machine Learning Developer',
 'Vision AI Engineer',
 'Big Data Analyst',
 'Data Operations Specialist',
 'Security Data Scientist',
 'Risk Analytics Specialist',
 'Risk Data Analyst',
 'Quant Developer',
 'Optimization Scientist',
 'Operations Research Analyst',
 'Applied Machine Learning Engineer',
 'AI Algorithm Engineer',
 'Insight Analyst',
 'Cybersecurity Data Analyst',
 'Cloud AI Engineer',
 'Data Platform Engineer',
 'Genomics Data Scientist',
 'Healthcare Analyst',
 'Insurance Data Analyst',
 'Revenue Analytics Manager',
 'Financial Analytics Specialist',
 'Principal Data Scientist',
 'Forecasting Analyst',
 'Machine Learning Architect',
 'Talent Analytics Analyst',
 'People Analytics Scientist',
 'AI Program Manager',
 'AI Analytics Engineer',
 'Geospatial Data Scientist',
 'Data Compliance Analyst',
 'Energy Data Analyst',
 'Climate Data Scientist',
 'Database Marketing Analyst',
 'Information Analyst',
 'Digital Analytics Specialist',
 'AI Model Validator',
 'AI Ethics Researcher',
 'Speech Recognition Engineer',
 'Recommendation Systems Engineer']

In [ ]:
analyst_list

['Data Analyst',
 'Junior Data Analyst',
 'Fraud Data Analyst',
 'CRM Data Analyst',
 'Retail Data Analyst',
 'Supply Chain Data Analyst',
 'Sports Data Analyst',
 'Big Data Analyst',
 'Risk Data Analyst',
 'Cybersecurity Data Analyst',
 'Insurance Data Analyst',
 'Energy Data Analyst']

# Functions

In [ ]:
skill_list = ['Python', 'SQL', 'Excel']

Built-in Functions

In [ ]:
print(skill_list)

['Python', 'SQL', 'Excel']

In [ ]:
type(skill_list)

list

In [ ]:
len(skill_list)

3

In [ ]:
range(0, 5)

range(0, 5)

In [ ]:
import types

# list the built-in functions
print([func for func in dir(__builtins__) if isinstance(getattr(__builtins__, func), types.BuiltinFunctionType)])

['__build_class__', '__import__', 'abs', 'aiter', 'all', 'anext', 'any', 'ascii', 'bin', 'breakpoint', 'callable', 'chr', 'compile', 'delattr', 'dir', 'divmod', 'eval', 'exec', 'format', 'getattr', 'globals', 'hasattr', 'hash', 'hex', 'id', 'isinstance', 'issubclass', 'iter', 'len', 'locals', 'max', 'min', 'next', 'oct', 'open', 'ord', 'pow', 'print', 'repr', 'round', 'setattr', 'sorted', 'sum', 'vars']

docs.python.org/3/library/functions.html

In [ ]:
data_salaries = [95000, 100000, 85000, 97000, 140000]

In [ ]:
min(data_salaries)

85000

In [ ]:
max(data_salaries)

140000

In [ ]:
sum(data_salaries)

517000

In [ ]:
sorted(data_salaries)

[85000, 95000, 97000, 100000, 140000]

# User-Defined Functions

In [ ]:
salary_1 = 100000
rate_1 = 0.1

total_salary = base_salary * (1 + bonus_rate)

total_salary

110000.00000000001

In [ ]:
# Calculate total_salary of base_salary * (1 + bonus_rate)
def calculate_salary(base_salary, bonus_rate=.1):

  total_salary = base_salary * (1 + bonus_rate)

  return total_salary

In [ ]:
salary_1 = 100000
rate_1 = 0.1

calculate_salary(salary_1, rate_1)

110000.00000000001

# Types of Functions:

| **Types of Function**        | **Example Function**                                         | **Section**                 |
| ---------------------------- | ------------------------------------------------------------ | --------------------------- |
| Built-in Functions           | `print()`, `len()`, `type()`                                 | Python Standard Library     |
| User-Defined Functions       | `def greet():`                                               | Function Definition         |
| Anonymous (Lambda) Functions | `lambda x: x * 2`                                            | Lambda Expressions          |
| Recursive Functions          | `def fact(n): return n*fact(n-1)`                            | Recursion                   |
| Higher-Order Functions       | `map()`, `filter()`, custom functions taking other functions | Functional Programming      |
| Generator Functions          | `def gen(): yield x`                                         | Iterators & Generators      |
| Method Functions (OOP)       | Class methods, instance methods                              | Object-Oriented Programming |
| Partial Functions            | `functools.partial()`                                        | functools Module            |
| Decorator Functions          | `@decorator` functions                                       | Decorators                  |
| Asynchronous Functions       | `async def func():`                                          | AsyncIO / Concurrency       |

Lamda Functions

In [ ]:
mul_two = lambda x: x*2

In [ ]:
mul_two(3)

6

In [ ]:
(lambda x: x*2)(3)

6

In [ ]:
(lambda x, y: x*2 + y)(3, 4)

10

In [ ]:
salary_list = [100000, 200000, 150000, 120000, 80000, 750000]

# Calculate total_salary of base_salary * (1 + bonus_rate)
# def calculate_salary(base_salary, bonus_rate=.1):

#   return base_salary * (1 + bonus_rate)

total_salary_list = [(lambda x: x * 1.1)(salary) for salary in salary_list]

total_salary_list

[110000.00000000001,
 220000.00000000003,
 165000.0,
 132000.0,
 88000.0,
 825000.0000000001]

# Data Filtering Example

Find jobs that have Python and that are remote

In [ ]:
jobs_data = [
    {'job_title': 'Data Scientist', 'job_skills': ['Python', 'Machine Learning'], 'remote': True},
    {'job_title': 'Data Analyst', 'job_skills': ['Excel', 'SQL'], 'remote': False},
    {'job_title': 'Machine Learning Engineer', 'job_skills': ['Python', 'TensorFlow', 'Keras'], 'remote': True},
    {'job_title': 'Software Developer', 'job_skills': ['Java', 'C++'], 'remote': True},
    {'job_title': 'Data Scientist', 'job_skills': ['R', 'Statitics'], 'remote': False},
]

In [ ]:
list(filter(lambda job: job['remote'] and "Python" in job['job_skills'], jobs_data))

[{'job_title': 'Data Scientist',
  'job_skills': ['Python', 'Machine Learning'],
  'remote': True},
 {'job_title': 'Machine Learning Engineer',
  'job_skills': ['Python', 'TensorFlow', 'Keras'],
  'remote': True}]